  body {
    background-color: #eeeeee;
    color: #1f3c88;
  }
  hr {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  img {
    height: 150px;
  }
  h1 {
    color: #66bfbf;
    text-shadow: 2px 2px #1f3c88;
  }
  h3 {
    color: #66bfbf;
  }
